.roundlist{
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ececec;
  padding: 8px;
  cursor: pointer;  
}
th{
  width: 50%
}


tr:hover {
  background-color: #dddddd;
}
.open{
  width: 100%;
}

.items__image{
  height: 40px;
  background-color: rgb(206, 206, 206);
  vertical-align: middle;
  padding:0 10px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.roundlist__items{
  margin-top: 30px;
  width: fit-content;
  /* background-color: rgb(235, 235, 235); */
/* border-top: 1px solid black; */
/* border-right: 1px solid black; */
display: none;
}



.item__4{
  background-color: gray;
  height: 41px;
  border: none;
}

.active .roundlist__items{
  display: block;
}

.item__position__0{
  object-position: 0 -40px;
}
.item__position__1{
  object-position: 0 20px;
}
.item__position__2{
  object-position: 0 -21px;
}
.item__position__3{
  object-position: 0 55px;
}


.spinner{
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top:3px solid #f25a41;
  border-radius: 100%;
  margin: 20px 250%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from{
      transform: rotate(0deg);
  }to{
      transform: rotate(360deg);
  }
}


